<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <h1>All  article page;</h1>
    <div style="background: orange; color: black; padding:20px;">
        <h1 style="background: orange; color: black; padding: 20px;">hello</h1>
        <% for (let article of allArticles ) { %>
            <h1 style="background: rebeccapurple;"> <%= article.title  %></h1>
            <h5><%= article.body%></h5>
            <hr>
        <% } %>
    </div>
    
</body>

</html>